/* reset */
a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0;
}

input, textarea, button {
  padding: 0;
  border: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}

button {
  padding: 0;
  border: none;
  background: transparent;
}

.mb {
  margin-bottom: 12px;
}

.iconfont {
  color: #666;
  font-size: 12px;
}

.f10 {
  font-size: 10px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.bb {
  border-bottom: 1px solid #DCDCDC;
}

.br {
  border: 1px solid #DCDCDC;
}
.flex {
  display: flex;
  justify-content: center;
}

.flex1 {
  flex: 1;
}

.flex_items {
  align-items: center;
}

.blue {
  background-image: linear-gradient(-136deg, #A3D7DD 0%, #B0A2DB 100%);
}

.orange {
  background-image: linear-gradient(-135deg, #E86874 0%, #E58A4D 100%);
}

.green {
  background-image: linear-gradient(-135deg, #86CD6D 0%, #60C4AF 100%);
}

.yellow {
  background-image:linear-gradient(-140deg, #FBD533 0%, #A2D85E 100%);
}

.red {
  background-image: linear-gradient(-135deg, #f6a46f 0%, #c27cd0 100%);
}
