/* reset */
a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0;
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

.container {
  display: flex;
}

.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f36 {
  font-size: 36px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

