/* reset */

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0;
}

input,
textarea,
button {
  padding: 0;
  border: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

.mb {
  margin-bottom: 12px;
}

.iconfont {
  color: #777;
  font-size: 14px;
}

.f8 {
  font-size: 12px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.f10 {
  font-size: 12px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.bb {
  border-bottom: 1px solid #DCDCDC;
}

.br {
  border: 1px solid #DCDCDC;
}

.c9 {
  color: #999;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex_items {
  align-items: center;
}

.flex_start {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.blue {
  background-image: linear-gradient(-136deg, #A3D7DD 0%, #B0A2DB 100%);
}

.orange {
  background-image: linear-gradient(-135deg, #E86874 0%, #E58A4D 100%);
}

.green {
  background-image: linear-gradient(-135deg, #86CD6D 0%, #60C4AF 100%);
}

.yellow {
  background-image: linear-gradient(-140deg, #FBD533 0%, #A2D85E 100%);
}

.red {
  background-image: linear-gradient(-135deg, #f6a46f 0%, #c27cd0 100%);
}

.tips_hover {
  position: relative;
}

.tips_hover b {
  pointer-events: none;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-right-color: rgba(000, 000, 000, .5);
  transition: transform .1s;
  transform-origin: right center;
  transform: scale(0);
}

.tips_hover:after {
  pointer-events: none;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: 16px;
  margin-top: -18px;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
  background: rgba(000, 000, 000, .5);
  content: attr(data-tips);
  font-size: 12px;
  color: #fff;
  transform: scale(0);
  transition: transform .1s;
  transform-origin: left center;
}

.tips_hover:hover:after {
  transform: scale(1);
  z-index: 100;
}

.tips_hover:hover b {
  transform: scale(1);
}
